### SMAP Function

In [8]:
def ModeloSmapDiario(ndias, Ad, Str, K2t, Crec, Ai, Capc, Kkt, Ep, Pr, Pcof, Tuin, Ebin, Supin, kep, H, K1t, K3t):
    Rsolo = [0] * (ndias + 1)
    Rsub = [0] * (ndias + 1)
    Rsup = [0] * (ndias + 1)
    Rsup2 = [0] * (ndias + 1)
    P = [0] * (ndias + 1)
    Es = [0] * (ndias + 1)
    Er = [0] * (ndias + 1)
    Rec = [0] * (ndias + 1)
    Ed = [0] * (ndias + 1)
    Emarg = [0] * (ndias + 1)
    Ed2 = [0] * (ndias + 1)
    Eb = [0] * (ndias + 1)
    Q = [0] * (ndias + 1)

    Rsolo[0] = Tuin / 100 * Str
    Rsub[0] = Ebin / (1 - 0.5 ** (1 / Kkt)) / Ad * 86.4
    Rsup[0] = Supin / (1 - 0.5 ** (1 / K2t)) / Ad * 86.4
    Rsup2[0] = 0.0

    for i in range(1, ndias + 1):
        P[i] = Pr[i] * Pcof
        Tu = Rsolo[i - 1] / Str
        
        if P[i] > Ai:
            Es[i] = (P[i] - Ai) ** 2 / (P[i] - Ai + Str - Rsolo[i - 1])
        else:
            Es[i] = 0
        
        if (P[i] - Es[i]) > Ep[i] * kep:
            Er[i] = Ep[i]
        else:
            Er[i] = (P[i] - Es[i]) + (Ep[i] - (P[i] - Es[i])) * Tu
        
        if Rsolo[i - 1] > (Capc / 100 * Str):
            Rec[i] = Crec / 100 * Tu * (Rsolo[i - 1] - (Capc / 100 * Str))
        else:
            Rec[i] = 0
        
        Rsolo[i] = Rsolo[i - 1] + P[i] - Es[i] - Er[i] - Rec[i]
        
        if Rsolo[i] > Str:
            Es[i] += Rsolo[i] - Str
            Rsolo[i] = Str
        
        Ed[i] = Rsup[i - 1] * (1 - 0.5 ** (1 / K2t))
        Rsup[i] = Rsup[i - 1] + Es[i] - Ed[i]
        
        if Rsup[i] > H:
            Emarg[i] = (Rsup[i] - H) * (1 - 0.5 ** (1 / K1t))
            Rsup[i] = H
        else:
            Emarg[i] = 0
        
        Ed2[i] = Rsup2[i - 1] * (1 - 0.5 ** (1 / K3t))
        Rsup2[i] = Rsup2[i - 1] + Emarg[i]
        
        Eb[i] = Rsub[i - 1] * (1 - 0.5 ** (1 / Kkt))
        Rsub[i] = Rsub[i - 1] + Rec[i] - Eb[i]
        
        Q[i] = (Ed[i] + Eb[i] + Ed2[i]) * Ad / 86.4

    # Create a dictionary with the resulting lists
    result = {
        'Rsolo': Rsolo,
        'Rsub': Rsub,
        'Rsup': Rsup,
        'Rsup2': Rsup2,
        'P': P,
        'Es': Es,
        'Er': Er,
        'Rec': Rec,
        'Ed': Ed,
        'Emarg': Emarg,
        'Ed2': Ed2,
        'Eb': Eb,
        'Q': Q
    }
    
    return result

#### Evaluation:

**Good**: Rsolo, Es, Er, Rec

**Bad-Start** / Good-End: Rsub, Rsup, Ed, Eb

**Fixed**: Rsup2, Ed2

---

**Bad**: Rsub, Rsup, Ed, Eb

### Run SMAP Model

In [73]:
import pandas as pd

# Create a DataFrame from the data
df = pd.read_csv('data/smap_input.csv')

# Constants (replace with your actual values)
ndias = len(df) - 1  # Number of days based on the length of the dataframe
Ad = 6279.0  # Example area in square km (or appropriate units)
Str = 100.0  # Storage capacity or other parameter (example value)
K2t = 5.5  # Example decay coefficient
Crec = 100  # Example recharge coefficient
Ai = 2  # Example threshold value
Capc = 42.0  # Example capacity percentage
Kkt = 150  # Another example decay coefficient
Pcof = 1.0  # Example precipitation coefficient
Tuin = 20.0  # Example initial moisture content
Ebin = 45.0  # Example baseflow initial value
Supin = 1.0  # Example surface flow initial value
# `kep` VARIABLE NOT FOUND
kep = 1.05153505864843 # 0.8  # Example parameter for evaporation adjustment
H = 200.0  # Example storage height or capacity
K1t = 10.0  # Example decay coefficient for marginal storage
K3t = 10.0  # Another example decay coefficient

# Convert DataFrame columns to lists
Ep = df['Ep'].tolist()
Pr = df['Pr'].tolist()

# Call the function with the provided data
result = ModeloSmapDiario(ndias, Ad, Str, K2t, Crec, Ai, Capc, Kkt, Ep, Pr, Pcof, Tuin, Ebin, Supin, kep, H, K1t, K3t)

# Save result as pandas dataframe
result_df = pd.DataFrame(result)
result_df.to_csv('data/smap_output.csv', index=False)

# Print the results
display(result_df.head(10))

,Rsolo,Rsub,Rsup,Rsup2,P,Es,Er,Rec,Ed,Emarg,Ed2,Eb,Q
0,20.000000,134.308846,0.116209,0.0,0.000000,0.0,0.000000,0.0,0.000000,0,0.0,0.000000,0.000000
1,19.329032,133.689639,0.102449,0.0,0.000000,0.0,0.670968,0.0,0.013760,0,0.0,0.619207,46.000000
2,18.680574,133.073287,0.090318,0.0,0.000000,0.0,0.648458,0.0,0.012131,0,0.0,0.616352,45.674127
3,17.868700,132.459777,0.079624,0.0,0.008752,0.0,0.820626,0.0,0.010694,0,0.0,0.613511,45.363231
4,17.090547,131.849095,0.070195,0.0,0.000000,0.0,0.778153,0.0,0.009428,0,0.0,0.610682,45.065647
5,16.346282,131.241228,0.061884,0.0,0.000000,0.0,0.744266,0.0,0.008312,0,0.0,0.607867,44.779908
6,15.634427,130.636164,0.054556,0.0,0.000000,0.0,0.711854,0.0,0.007328,0,0.0,0.605064,44.504719
7,14.953573,130.033889,0.048096,0.0,0.000000,0.0,0.680854,0.0,0.006460,0,0.0,0.602275,44.238938
8,14.302369,129.434391,0.042401,0.0,0.000000,0.0,0.651204,0.0,0.005695,0,0.0,0.599498,43.981558
9,13.679524,128.837657,0.037380,0.0,0.000000,0.0,0.622845,0.0,0.005021,0,0.0,0.596734,43.731690

### Compare SMAP Outputs

In [74]:
import pandas as pd

# Load the CSV files into DataFrames
smap_output = pd.read_csv('data/smap_output.csv')
smap_output_true = pd.read_csv('data/smap_output_true.csv')[smap_output.columns]

smap_output = smap_output.iloc[3:].reset_index(drop=True)
smap_output_true = smap_output_true.fillna(0)

# Compare the two DataFrames
comparison = smap_output.compare(smap_output_true)

# Check if there are any differences
pd.set_option('display.max_columns', None)
if comparison.empty:
    print("The files are identical.")
else:
    print("Differences found between the files:")
    display(comparison)

Differences found between the files:

         Rsolo                   Rsub                  Rsup            \
          self      other        self       other      self     other
0    17.868700  19.085897  132.459777  133.689639  0.079624  0.102449
1    17.090547  18.211903  131.849095  133.073287  0.070195  0.090318
2    16.346282  17.377932  131.241228  132.459777  0.061884  0.079624
3    15.634427  16.582150  130.636164  131.849095  0.054556  0.070195
4    14.953573  15.822810  130.033889  131.241228  0.048096  0.061884
..         ...        ...         ...         ...       ...       ...
290  20.245339  18.835305  242.145761  227.591981  0.217133  0.213718
291  19.751243  18.344309  241.029391  226.542709  0.191422  0.188412
292  19.409659  17.996561  239.918168  225.498275  0.168756  0.166102
293  18.785239  17.387684  238.812068  224.458655  0.148774  0.146434
294  18.204781  16.821504  237.711068  223.423829  0.131158  0.129095

           Es                  Er            Rec              Ed            \
         self     other      self     other self other      self     other
0         NaN       NaN  0.820626  0.922855  NaN   NaN  0.010694  0.013760
1         NaN       NaN  0.778153  0.873994  NaN   NaN  0.009428  0.012131
2         NaN       NaN  0.744266  0.833971  NaN   NaN  0.008312  0.010694
3         NaN       NaN  0.711854  0.795782  NaN   NaN  0.007328  0.009428
4         NaN       NaN  0.680854  0.759341  NaN   NaN  0.006460  0.008312
..        ...       ...       ...       ...  ...   ...       ...       ...
290  0.117244  0.115546  3.225806  3.392049  NaN   NaN  0.013416  0.013186
291       NaN       NaN  1.279360  1.276260  NaN   NaN  0.025710  0.025306
292       NaN       NaN  1.837959  1.844123  NaN   NaN  0.022666  0.022310
293       NaN       NaN  0.633171  0.617629  NaN   NaN  0.019982  0.019668
294       NaN       NaN  0.716295  0.702017  NaN   NaN  0.017616  0.017339

           Eb                    Q
         self     other       self      other
0    0.613511  0.619207  45.363231  46.000000
1    0.610682  0.616352  45.065647  45.674127
2    0.607867  0.613511  44.779908  45.363231
3    0.605064  0.610682  44.504719  45.065647
4    0.602275  0.607867  44.238938  44.779908
..        ...       ...        ...        ...
290  1.121540  1.054132  82.481393  77.565835
291  1.116370  1.049272  82.999083  78.093474
292  1.111223  1.044435  82.403801  77.524153
293  1.106100  1.039619  81.836442  76.982238
294  1.101000  1.034826  81.293894  76.464669

[295 rows x 18 columns]

#### Evaluation:

**Good**: Rsolo, Es, Er, Rec

**Bad-Start** / Good-End: Rsub, Rsup, Ed, Eb

**Fixed**: Rsup2, Ed2

---

**Bad**: Rsub, Rsup, Ed, Eb

### Measure difference between outputs

In [75]:
import pandas as pd
import numpy as np

# Load the CSV files into DataFrames
smap_output = pd.read_csv('data/smap_output.csv')
smap_output_true = pd.read_csv('data/smap_output_true.csv')

smap_output = smap_output.iloc[3:].reset_index(drop=True)
smap_output_true = smap_output_true.fillna(0)

# Initialize a dictionary to store the metrics
metrics = {}

# Iterate over each column and calculate the metrics
for column in smap_output.columns:
    y_true = smap_output_true[column]
    y_pred = smap_output[column]
    
    mae = np.mean(np.abs(y_true - y_pred))
    mse = np.mean((y_true - y_pred) ** 2)
    rmse = np.sqrt(mse)
    r_squared = 1 - np.sum((y_true - y_pred) ** 2) / np.sum((y_true - np.mean(y_true)) ** 2)
    
    metrics[column] = {
        'MAE': mae,
        'MSE': mse,
        'RMSE': rmse,
        'R^2': r_squared
    }

# Convert the metrics dictionary to a DataFrame for better readability
metrics_df = pd.DataFrame(metrics).transpose()

display(metrics_df)

C:\Users\luisr\AppData\Local\Temp\ipykernel_1976\2477644913.py:22: RuntimeWarning: invalid value encountered in scalar divide
  r_squared = 1 - np.sum((y_true - y_pred) ** 2) / np.sum((y_true - np.mean(y_true)) ** 2)

            MAE         MSE       RMSE       R^2
Rsolo  0.652744    0.650187   0.806342  0.997385
Rsub   8.895805  119.808795  10.945720  0.977541
Rsup   0.063164    0.008406   0.091684  0.999807
Rsup2  0.000000    0.000000   0.000000       NaN
P      0.000000    0.000000   0.000000  1.000000
Es     0.007418    0.000569   0.023861  0.999841
Er     0.116137    0.022731   0.150768  0.993098
Rec    0.091437    0.034407   0.185490  0.994322
Ed     0.007489    0.000118   0.010858  0.999807
Emarg  0.000000    0.000000   0.000000       NaN
Ed2    0.000000    0.000000   0.000000       NaN
Eb     0.040809    0.002532   0.050318  0.977689
Q      3.481285   17.596224   4.194785  0.996094

### Measure difference between `Throughput`

In [76]:
Q = pd.Series([46, 46, 46, 46, 46, 46, 46, 45, 45, 45, 45, 44, 43, 42, 42, 41, 41, 40, 40, 40, 41, 41, 41, 41, 41, 41, 40, 39, 38, 38, 38, 40, 39, 38, 38, 38, 38, 38, 38, 39, 39, 39, 38, 38, 38, 38, 38, 37, 38, 40, 43, 44, 41, 41, 40, 40, 41, 49, 57, 65, 86, 98, 81, 70, 67, 62, 57, 55, 56, 57, 57, 62, 67, 60, 62, 80, 102, 102, 85, 81, 80, 98, 124, 126, 111, 93, 83, 76, 67, 61, 58, 63, 79, 103, 109, 104, 99, 94, 86, 77, 71, 66, 63, 66, 76, 88, 97, 96, 87, 80, 76, 74, 68, 62, 59, 61, 76, 99, 104, 103, 120, 111, 93, 81, 77, 77, 75, 72, 71, 70, 68, 65, 65, 71, 106, 185, 238, 211, 154, 125, 125, 122, 113, 101, 94, 97, 117, 172, 225, 214, 194, 197, 191, 202, 226, 265, 320, 354, 317, 276, 256, 233, 232, 269, 332, 324, 271, 220, 184, 168, 152, 145, 150, 176, 236, 301, 299, 241, 177, 162, 160, 153, 144, 132, 134, 144, 205, 268, 251, 234, 220, 214, 199, 183, 177, 187, 205, 212, 198, 179, 169, 160, 157, 155, 158, 169, 170, 170, 184, 197, 202, 193, 182, 150, 149, 176, 221, 249, 230, 205, 207, 187, 171, 166, 165, 173, 185, 196, 219, 234, 218, 205, 196, 188, 185, 175, 167, 168, 169, 164, 157, 150, 146, 141, 128, 130, 123, 118, 114, 110, 108, 105, 103, 102, 109, 124, 124, 123, 127, 128, 131, 124, 118, 112, 107, 103, 100, 98, 95, 93, 92, 90, 90, 89, 88, 88, 88, 90, 90, 87, 85, 84, 83, 83, 86, 87, 84, 82, 80, 80, 82, 85, 85, 83, 82])

y_true = smap_output['Q']
y_pred = Q

mae = np.mean(np.abs(y_true - y_pred))
mse = np.mean((y_true - y_pred) ** 2)
rmse = np.sqrt(mse)
r_squared = 1 - np.sum((y_true - y_pred) ** 2) / np.sum((y_true - np.mean(y_true)) ** 2)

{
    'MAE': mae,
    'MSE': mse,
    'RMSE': rmse,
    'R^2': r_squared
}

{'MAE': 13.501250071396155,
 'MSE': 415.13019575445276,
 'RMSE': 20.374744065986516,
 'R^2': 0.9128578598491864}